.circles {
  background-image: url("https://source.unsplash.com/nTRDnDdDYk8/1600x900");
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  height: 20rem;
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 100px;
  cursor: url(./Image/bow.png) 5 5, auto;
}
